@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
  

*{
  text-decoration: none;
  
 
}

body{
  background-color: #ffffff00;
  background-image: url("./Passa-ou-Repassa-main/img/background-arquivos.mp4");
  flex-direction: column;
  align-items: center;
  display: flex;
justify-content: center;

}

.back-video{
    position: absolute;
    right: 0;
    bottom:0;
    z-index: -1;
}

#titulo{
    font-family: Russo One;
    font-size: 50px;
    color: rgb(53, 65, 75);
    text-align: center;
    background-color: rgba(0, 255, 255, 0.089);
    border-radius: 40px;
    border: 1px;
    border-style: solid;
    width: 800px;
    height: 120px;

}

#titulo2{
    margin-top: 2px;
    text-shadow: 
               -2px -3px 0px #00ff00, 
               -2px 4px 0px #01ffff;                   
        
}



.formulario {
    display:flex ;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-family: Russo One;
    color: aliceblue;
    margin-top: 220px;
  }

  /* Estilos para a label */
  label {
    display: flex;
    text-align: center;
    align-items: center ;
    margin-bottom: 8px;
    font-size: 40px;
    background-color: #00ffff4b;
    border-radius: 20px;
    padding: 10px;
  }

  /* Estilos para o input de texto */
  input[type="text"] {
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    font-family: Russo One;
    font-size: 20px;
    text-align: center;
  }

  /* Estilos para o botão */
  button {
    margin-left: 400px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-top: 15px;
  }

  /* Estilos quando o mouse passa sobre o botão */
  button:hover {
    background-color: #3498db;
    color: white;
  }